<!-- Experience Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Professional Experience</h2>
                <h3 class="section-subheading text-muted">"The journey of a thousand miles begins with one step" - Lao
                    Tzu</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline-inverted">
                        <div class="timeline-image flexing hover-dim">
                            <img class="img-responsive experience-logo" src="img/experience/unisys.png" alt="Unisys" style="max-width: 90%; max-height: 90%; margin-top: 10;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2023-now</h4>
                                <h4 class="subheading">Unisys India</h4>
                                <h5>Student Technical Intern</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Interning at Unisys India with a focus on software supply chain
                                    security. Working on DBoM project under The Linux Foundation's open-source initiative. 
                                    Developing the Notary Agent microservice using Sigstore, NATS, Node.js, and Docker.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image flexing hover-dim">
                            <img class=" img-responsive experience-logo" style="margin-bottom: 15px;"
                                src="img/experience/edrives.png" alt="Edrives">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2022-2023</h4>
                                <h4 class="subheading">Edrives, Bengaluru</h4>
                                <h5>Full Stack Web-Developer</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Obtained expertise of Microservices Architecture while working on
                                    the booking system, Integrated Payment Gateway, HLS, and Invoiceservice. Overall, my
                                    time at Edrives Web Development has provided me with a solid grounding in the
                                    theories and tools required to create reliable and scalable web apps.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image flexing hover-dim">
                            <img class="img-responsive experience-logo" src="img/experience/ramaiah.png" alt="RMC">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2022-now</h4>
                                <h4 class="subheading">Ramaiah Medical College, Bengaluru</h4>
                                <h5>Full Stack Web-Developer</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Developed a web-based admin panel for the Ramaiah Medical College,
                                    Department of Ophthalmology utilising the React-Admin framework and Node.js and
                                    worked collaboratively to develop a suite of inter-dependent web and mobile apps.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <a class="page-scroll" href="#contact">
                            <div class="timeline-image hover-dim">
                                <h4>Have
                                    <br>a
                                    <br>Gig ?
                                </h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>