<!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>                  
                    <!-- <h3 class="section-subheading text-muted">Here are few of my skills</h3> -->
                </div>
            </div>
            <div class="row text-center skill-container" style="margin-top: 40px;">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-responsive invert-color c" src="img/skills/html5.svg" alt=""  >
                        </div>
                    </span>
                    <h4 class="service-heading">HTML</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-responsive invert-color" src="img/skills/css3.svg" alt=""  >
                        </div>
                    </span>
                    <h4 class="service-heading">CSS</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-responsive invert-color" src="img/skills/javascript.svg" alt=""  >
                        </div>
                    </span>
                    <h4 class="service-heading">Javascript</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-responsive invert-color" src="img/skills/react.svg" alt=""  >
                        </div>
                    </span>
                    <h4 class="service-heading">React</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-responsive invert-color" src="img/skills/nodedotjs.svg" alt=""  >
                        </div>
                    </span>
                    <h4 class="service-heading">NodeJS</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-responsive invert-color" src="img/skills/express.svg" alt=""  >
                        </div>
                    </span>
                    <h4 class="service-heading">Express</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-responsive invert-color" src="img/skills/mongodb.svg" alt=""  >
                        </div>
                    </span>
                    <h4 class="service-heading">Mongo DB</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-responsive invert-color" src="img/skills/mysql.svg" alt=""  >
                        </div>  
                    </span>
                    <h4 class="service-heading">MYSQL</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-responsive invert-color" src="img/skills/rabbitmq.svg" alt=""  >
                        </div>
                    </span>
                    <h4 class="service-heading">RabbitMQ</h4>
                </div>
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-responsive invert-color" src="img/skills/c.svg" alt=""  >
                        </div>
                    </span>
                    <h4 class="service-heading">C</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-responsive invert-color" src="img/skills/cplusplus.svg" alt=""  >
                        </div>
                    </span>
                    <h4 class="service-heading">C++</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-responsive invert-color" src="img/skills/python.svg" alt=""  >
                        </div>
                    </span>
                    <h4 class="service-heading">Python</h4>
                </div>
            </div>
        </div>
    </section>